{{define "function"}}
{{- range .CommentLines}}// {{.}}
{{end -}}
func {{.GoName}}({{.ParamStr}}){{with .ReturnSig}} {{.}}{{end}} {
{{- range .Preamble}}
	{{.}}
{{- end}}
{{- if eq .Shape 0}}
	{{if .ReturnSig}}return {{end}}{{.RawCall}}
{{- else if eq .Shape 1}}
	return {{.RawCall}}
{{- else if eq .Shape 2}}
	{{.RetExpr}}
{{- else if eq .Shape 3}}
	return {{.RawCall}} != 0
{{- else if eq .Shape 5}}
	return {{range .ReturnValues}}{{.}}, {{end}}{{.RawCall}}
{{- else if eq .Shape 6}}
	_hr := {{.RawCall}}
	return {{range .ReturnValues}}{{.}}, {{end}}win32.HRESULTError(int32(_hr))
{{- else if eq .Shape 7}}
	{{.RawCall}}
	return {{join .ReturnValues ", "}}
{{- end}}
}

{{end}}
