{{define "dll"}}var (
{{- range .}}
	{{.VarName}} = win32.NewDLL("{{.FileName}}")
{{- end}}
)

var (
{{- range .}}
{{- $dll := .VarName}}
{{- range .Procs}}
	{{.VarName}} = {{$dll}}.NewProc("{{.ExportName}}")
{{- end}}
{{- end}}
)

{{end}}

{{define "function"}}
{{- range .CommentLines}}// {{.}}
{{end -}}
func {{.GoName}}({{.ParamStr}}){{with .ReturnSig}} {{.}}{{end}} {
{{- range .Preamble}}
	{{.}}
{{- end}}
{{- if eq .ReturnKind 0}}
	syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
{{- else if eq .ReturnKind 1}}
	r1, _, e1 := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	if r1 == 0 {
		return win32.LastError(e1)
	}
	return nil
{{- else if eq .ReturnKind 2}}
	r1, _, e1 := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	ret := {{.RetExpr}}
	if {{join .FailureChecks " || "}} {
		return ret, win32.LastError(e1)
	}
	return ret, nil
{{- else if eq .ReturnKind 3}}
	r1, _, _ := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	return {{.RetExpr}}
{{- else if eq .ReturnKind 4}}
	r1, _, e1 := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	if e1 != 0 {
		return {{.RetExpr}}, e1
	}
	return {{.RetExpr}}, nil
{{- else if eq .ReturnKind 5}}
	r1, _, _ := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	return win32.ErrIfFailed(int32(r1))
{{- else if eq .ReturnKind 6}}
	r1, _, _ := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	return r1 != 0
{{- else if eq .ReturnKind 7}}
	r1, _, _ := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	return {{range .ReturnValues}}{{.}}, {{end}}win32.ErrIfFailed(int32(r1))
{{- else if eq .ReturnKind 8}}
	r1, _, e1 := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	if r1 == 0 {
		return {{range .ReturnValues}}{{.}}, {{end}}win32.LastError(e1)
	}
	return {{range .ReturnValues}}{{.}}, {{end}}nil
{{- else if eq .ReturnKind 9}}
	syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	return {{join .ReturnValues ", "}}
{{- else if eq .ReturnKind 10}}
	r1, _, _ := syscall.SyscallN({{.ProcVar}}.Addr(){{range .ArgExprs}}, {{.}}{{end}})
	return win32.HRESULT(r1), win32.ErrIfFailed(int32(r1))
{{- end}}
}

{{end}}
