{{define "interface"}}
{{- if .DocURL}}// {{.TypeName}}: {{.DocURL}}
{{end -}}
{{- if .GUID}}// IID: {{.GUID}}
{{end -}}
{{- if .BaseNote}}// {{.BaseNote}}
{{end -}}
type {{.TypeName}} struct {
{{- if .BaseType}}
	{{.BaseType}}
{{- else}}
	LpVtbl *[1024]uintptr
{{- end}}
}

{{if .IIDVar}}// {{.IIDVar}} is the interface identifier for {{.TypeName}}.
var {{.IIDVar}} = {{.IIDLiteral}}

{{end -}}
{{range .Methods}}
{{- range .CommentLines}}// {{.}}
{{end -}}
func (self *{{$.TypeName}}) {{.GoName}}({{.ParamStr}}){{with .ReturnSig}} {{.}}{{end}} {
{{- range .Preamble}}
	{{.}}
{{- end}}
{{- if eq .ReturnKind 0}}
	syscall.SyscallN(self.LpVtbl[{{.Slot}}], uintptr(unsafe.Pointer(self)){{range .ArgExprs}}, {{.}}{{end}})
{{- else if eq .ReturnKind 5}}
	r1, _, _ := syscall.SyscallN(self.LpVtbl[{{.Slot}}], uintptr(unsafe.Pointer(self)){{range .ArgExprs}}, {{.}}{{end}})
	return win32.ErrIfFailed(int32(r1))
{{- else if eq .ReturnKind 7}}
	r1, _, _ := syscall.SyscallN(self.LpVtbl[{{.Slot}}], uintptr(unsafe.Pointer(self)){{range .ArgExprs}}, {{.}}{{end}})
	return {{range .ReturnValues}}{{.}}, {{end}}win32.ErrIfFailed(int32(r1))
{{- else if eq .ReturnKind 10}}
	r1, _, _ := syscall.SyscallN(self.LpVtbl[{{.Slot}}], uintptr(unsafe.Pointer(self)){{range .ArgExprs}}, {{.}}{{end}})
	return win32.HRESULT(r1), win32.ErrIfFailed(int32(r1))
{{- else}}
	r1, _, _ := syscall.SyscallN(self.LpVtbl[{{.Slot}}], uintptr(unsafe.Pointer(self)){{range .ArgExprs}}, {{.}}{{end}})
	return {{.RetExpr}}
{{- end}}
}

{{end}}{{end}}
